<mat-card class="card-about">
    <mat-card-header>
      <mat-card-title>About BexBro</mat-card-title>
      <mat-card-subtitle>Version 3.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        El objetivo de esta pagina web es crear una plataforma 
        donde el usuario pueda subir sus momentos, 
        como en un álbum de fotos, acompañado de un
         título y descripción, sin ningún tipo de
          restricción al contenido ya que, como un
           álbum de fotos, será suyo y si lo desea 
           lo compartirá. Esto quiere decir, que el
            usuario tendrá la posibilidad de copiar 
            el link  del posteo, el cual podrá pasar a 
            quien desee y desde la otra parte solo podrá 
            acceder a esa publicación mediante ese link y 
            no de ninguna otra forma.
      </p>
    </mat-card-content>
  </mat-card>