<mat-card class="card-about">
    <mat-card-header>
      <mat-card-title>About BexBro</mat-card-title>
      <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        BexBro es una pagina de posteos orientado a la fotografia y a compartir momentos con
        tus mas cercanos. Consiste en un espacio cerrado donde pueden acceder tus amigos y/o
        conocidos, con un solo administrador. Es un album de fotos online!
      </p>
    </mat-card-content>
  </mat-card>