<mat-toolbar color="primary">
    <a routerLink="/" routerLinkActive="active">{{ appName }}</a>
    <span class="fill-remaining-space"></span>
    
    <a routerLink="/admin" 
        routerLinkActive="active"
        *ngIf="authSvc.userData$ | async"
    >
        <button mat-button>ADMIN</button>
    </a>
        
    <a routerLink="/about" routerLinkActive="active">
        <button mat-button>ABOUT</button>
    </a>
    <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
        <button mat-button>LOGOUT</button>
    </a>

    <ng-template #showLogin>
        <a routerLink="/login" routerLinkActive="active">
            <button mat-button>LOGIN</button>
        </a>
    </ng-template>
