<div class="container" *ngIf="posts$ | async as posts; else loading">
    <mat-card class="post-card" *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </mat-card>
  </div>


<ng-template #loading> 
    <div class="logueate">
      <div class="login">
        <div class="logoimg">
          <img class="logo" src="https://i.imgur.com/XEQvlML.png">
        </div>
        <div class="text">
          <h1>Bienvenido a BexBro. ¡Aquí podras subir tus fotos y 
            momentos de forma segura y privada! Si te interesa, presiona "Entrar", 
            si no estas convencido, solo quedate ahí.
          </h1>
        </div>
        <button routerLink="/login" mat-raised-button color="primary">ENTRAR</button>
      </div>
   
    </div>
</ng-template>