.container{
    
    margin-top:25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
    .post-card { 
        background: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }
}

.login{


    display: flex;
    justify-content: center ;
    flex-direction: column ;
    align-items: center;
}
.logoimg{
    width:365px ;
    height:122px ;
        .logo{
            width: 100%;
            height: 100%;
            }   
           
}
